{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - About
{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-12">
                <h2>About</h2>
            </div>
        </section>
    </main>
{% endblock %}
