{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{painting.title}}
{% endblock %}

{% block body %}
    <main class="container">
        <section id="detail">
            <h2 class="my-5">{{painting.title|upper}}</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#overview">Vue d'ensemble</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#comments">Commentaires ({{ numberOfComments }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#commentsAdd">Ajoutez votre commentaire</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="overview">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ asset('assets/img/gallery/') ~ painting.image }}" alt="{{ painting.title }}" width="400px">
                        </div>
                        <div class="col-md-7">
                            <h5 class="my-4 text-muted">
                                {{ painting.author.name }}
                                <br>
                                <br>
                                {{ painting.createdAt|date('d/m/Y') }}
                            </h5>
                            <p>
                                {{ painting.description }}
                            </p>
                            <p>
                                {{ painting.category.name }}
                            </p>
                            <p>
                                {{ painting.height }} * {{ painting.width }} cm
                            </p>
                            <p>
                                <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="comments">
                    <h4>Commentaires</h4>
                    <hr>
                    {% for com in comments %}
                        <p>
                            Le {{ com.createdAt|date('d/m/Y') }} à {{ com.createdAt|date('H:m') }}, {{ com.author }} à écrit:
                        </p>
                        <p>
                            {% for rating in range(0, com.rating - 1) %}
                                <img src="{{ asset('assets/img/rating/star-yellow.png')}}" alt="">
                            {% endfor %}
                            {% if com.rating == 5 %}
                            {% else %}
                                {% for rating in range(com.rating, 4) %}
                                    <img src="{{ asset('assets/img/rating/star-grey.png')}}" alt="">
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>
                            {{ com.comment }}
                        </p>
                        <hr>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="commentsAdd">
                    <h2>Ajoutez votre commentaire</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>


















    </main>
{% endblock %}