{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Gallerie
{% endblock %}

{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 90vh; margin: auto">
        <ol class="carousel-indicators">
            {% for painting in paintings %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.index == 1 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner" style="background-color: #809395">
            {% for painting in paintings %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <img src="{{ asset('assets/img/gallery/' ~ painting.image) }}" alt="{{ painting.title }} height" style="height: 90vh; display: block; margin: 0 auto">
                    <div class="carousel-caption d-none d-md-block col-md-3 offset-6" style="background-color: rgba(255, 255, 255, 0.3); color: white; text-shadow: black 0.1em 0.1em 0.2em">
                        <h5>{{ painting.title }}</h5>
                        <p>{{ painting.author.name }}</p>
                        <p>{{ painting.category.name }}</p>
                        <p>{{ painting.description }}</p>
                        <p>Oeuvre {{ loop.index }} sur {{ numberOfPaintings }}.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}
