{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-12">
                <h2>Home Page</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci alias animi, corporis
                    dignissimos distinctio doloribus dolorum earum eos excepturi explicabo fuga fugit hic illum in ipsa
                    itaque iure laboriosam maxime minima minus molestiae mollitia nam perferendis quia quibusdam ratione
                    reiciendis repellendus sapiente voluptas. Culpa incidunt nostrum provident! Aspernatur aut eius
                    eveniet harum illum nulla porro ratione tempore ut vero.</p>
                <h2>Liste des oeuvres</h2>
                <table class="table table-hover bootstrap-table"
                       data-toggle="table"
                       data-pagination="true"
                       data-search="true"
                       style="text-align: center">
                    <thead class="table-primary white-text">
                    <tr>
                        <th data-sortable="true" data-field="index">Index</th>
                        <th data-field="image">Image</th>
                        <th data-sortable="true" data-field="title">Titre</th>
                        <th data-sortable="true" data-field="author">Auteur</th>
                        <th data-sortable="true" data-field="category">Catégorie</th>
                        <th data-sortable="true" data-field="createdAt">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for painting in paintings %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><img src="{{ asset('assets/img/gallery/' ~ painting.image) }}" alt="{{ painting.title }}" width="120px"></td>
                            <td><a id="{{ painting.title }}" href="{{ path('painting', { id:painting.id })}}" class="text-dark">{{ painting.title }}</td>
                            <td>{{ painting.author.name }}</td>
                            <td>{{ painting.category.name }}</td>
                            <td>{{ painting.createdAt|date('Y/m/d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}
