{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Admin
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h2>Mettre à jour une oeuvre</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Mettre à jour</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}