{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Admin
{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-12">
                <h2>Liste des oeuvres</h2>
                <table class="table table-hover bootstrap-table"
                       data-toggle="table"
                       data-pagination="true"
                       data-search="true"
                       style="text-align: center">
                    <thead class="table-primary white-text">
                    <tr>
                        <th data-sortable="true" data-field="index">Index</th>
                        <th data-field="image">Image</th>
                        <th data-sortable="true" data-field="title">Titre</th>
                        <th data-sortable="true" data-field="author">Auteur</th>
                        <th data-sortable="true" data-field="category">Catégorie</th>
                        <th data-sortable="true" data-field="createdAt">Date</th>
                        <th>Mettre à jour</th>
                        <th>Supprimer</th>
                        <th data-sortable="true">Visibilité</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for painting in paintings %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><img src="{{ asset('assets/img/gallery/' ~ painting.image) }}" alt="{{ painting.title }}" width="120px"></td>
                            <td><a id="{{ painting.title }}" href="{{ path('painting', { id:painting.id })}}" class="text-dark">{{ painting.title }}</td>
                            <td>{{ painting.author.name }}</td>
                            <td>{{ painting.category.name }}</td>
                            <td>{{ painting.createdAt|date('Y/m/d') }}</td>
                            <td><a href="{{ path('editPainting', {id:painting.id}) }}"><i class="icofont-pencil-alt-5 icofont-2x"></i></a></td>
                            <td><a href="{{ path('delPainting', {id:painting.id}) }}"><i class="icofont-ui-delete icofont-2x"></i></a></td>
                            <th>
                                <a {{ painting.isVisible }} {{ painting.title }} href="{{ path('paintingVisibility', {id:painting.id}) }}">
                                    {% if painting.isVisible %}<i class="icofont-eye icofont-2x"></i>
                                    {% else %}<i class="icofont-eye-blocked icofont-2x"></i>
                                    {% endif %}
                                </a>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}
